body {
    position: relative;
    background-color: #F0F0F0;
    color: black;
    text-align: left;
    font-family: "Courier New", Monospace;
}

/* animation button */
.button1 {
    display: inline-block;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    background-color: #256D85;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border: none;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

button.menu {
    border: black;
    background-color: grey;
    color: white;
    width: 200px;
    padding: 20px;
    height: 100px;
    float: right;  
}

/*navigation bar at the top*/
div.nav {
    position: sticky;
    clear: both;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
}

li.nav {
    float: left;
    color: white;
    background-color: black;
    text-decoration: none;
    display: inline;
    position: relative;
}

a.nav {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    background-color: black;
    position: relative;
}

li.nav a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a.nav:hover {
    background-color: grey;
}

/*classes*/
.left {
    float: left;
    width: 40%;
    border-style: double;
    background-color: #E2E2E2;
    position: relative;
    margin: auto;
    clear: both;
}

.right {
    border-style: double;
    float: right;
    width: 40%;
    clear: none;
    margin: auto;
    background-color: #E2E2E2;
    position: relative;
}

.backgroundVideo {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    overflow: clear;
}

img.wires {
    width: 25%;
}

.border {
    border-style: solid;
    clear: none;
    background-color: #E2E2E2;
}

.heading {
    position: relative;
}

/*normal text*/
h1 {
    text-align: center;
    text-decoration-line: none;
    position: relative;
}

h3.subheading {
    text-align: center;
    text-decoration-line: underline;
    position: relative;
}

h4 {
    text-align: left;
    position: relative;
}

p.pButton {
    text-align: center;
    position: relative;
}
