      body {
	  background-color: #2B4865;
	  color: white;
	  text-align: left;
	  font-family: "Courier New", Monospace;
      }

      button {
	  display: inline-block;
	  padding: 20px;
	  width: 500px;
	  border-radius: 10px;
	  background-color: #256D85;
	  color: white;
	  transition: all 0.4s;
	  cursor: pointer;
	  font-size: 24px;
	  text-align: center;
	  border: none;
      }

      button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.4s;
      }

      button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.4s;
      }

      button:hover span {
	  padding-right: 25px;
      }

      button:hover span:after {
	  opacity: 1;
	  right: 0;
      }

      h1 {
	  text-align: center;
	  text-decoration-line: underline;
      }
